n8n/workflows/incoming-call.json
{
  "updatedAt": "2026-07-05T02:03:14.693Z",
  "createdAt": "2026-07-05T01:47:17.283Z",
  "id": "EVuxizOW0p0dGqeZ",
  "name": "twilio-incoming-call",
  "description": "",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twilio/incoming-call",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-entry",
      "name": "Webhook — Twilio Incoming Call",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "twilio-incoming-call"
    },
    {
      "parameters": {
        "jsCode": "// spec: §Autenticación — Validar X-Twilio-Signature (HMAC-SHA1)\n// https://www.twilio.com/docs/usage/security\nconst crypto = require('crypto');\n\nconst authToken = $env['TWILIO_AUTH_TOKEN'];\nconst twilioSig = $input.first().headers['x-twilio-signature'] ?? '';\n\n// Build validation URL: the full public webhook URL\nconst webhookUrl = $env['N8N_WEBHOOK_URL'] + '/webhook/twilio/incoming-call';\n\n// Sort form params alphabetically and concatenate key+value\nconst body = $input.first().body;\nconst sortedKeys = Object.keys(body).sort();\nlet validationStr = webhookUrl;\nfor (const key of sortedKeys) {\n  validationStr += key + body[key];\n}\n\nconst expected = crypto\n  .createHmac('sha1', authToken)\n  .update(Buffer.from(validationStr, 'utf-8'))\n  .digest('base64');\n\nconst valid = expected === twilioSig;\nreturn [{ json: { valid, body } }];"
      },
      "id": "validate-signature",
      "name": "Validate Twilio Signature",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "sig-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "sig-router",
      "name": "Signature Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "system_events",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "event_type": "security_alert",
            "payload": "={{ JSON.stringify({ reason: 'invalid_twilio_signature', path: '/webhook/twilio/incoming-call' }) }}"
          }
        }
      },
      "id": "insert-security-alert",
      "name": "Insert security_alert event",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        900,
        480
      ],
      "credentials": {
        "supabaseApi": {
          "id": "hOsK6gvSyJWN6HU2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Forbidden",
        "options": {
          "responseCode": 403,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/plain"
              }
            ]
          }
        }
      },
      "id": "respond-403",
      "name": "Respond 403",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// spec: §Validaciones — Idempotencia por twilio_call_sid\nconst body = $json.body;\nreturn [{\n  json: {\n    callSid: body.CallSid,\n    from: body.From || null,\n    to: body.To,\n    body\n  }\n}];"
      },
      "id": "extract-fields",
      "name": "Extract Call Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "calls",
          "mode": "list"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "twilio_call_sid",
              "keyValue": "={{ $json.callSid }}",
              "condition": "eq"
            }
          ]
        },
        "limit": 1,
        "options": {}
      },
      "id": "check-idempotency",
      "name": "Check Idempotency (calls by callSid)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "hOsK6gvSyJWN6HU2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "existing-call",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      },
      "id": "idempotency-router",
      "name": "Already processed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// spec: §Validaciones — respond with same TwiML for duplicate CallSid\nconst call = $json;\nlet twiml;\nif (call.decision === 'answer') {\n  const agentUrl = process.env.ELEVENLABS_AGENT_WSS_URL || 'wss://placeholder.elevenlabs.io';\n  twiml = `<Response><Connect><Stream url=\"${agentUrl}\"/></Connect></Response>`;\n} else {\n  // Default reject for idempotent repeat\n  twiml = '<Response><Reject reason=\"busy\"/></Response>';\n}\nreturn [{ json: { twiml } }];"
      },
      "id": "build-idempotent-twiml",
      "name": "Build Idempotent TwiML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        200
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "phone_numbers",
          "mode": "list"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "e164_number",
              "keyValue": "={{ $('Extract Call Fields').first().json.to }}",
              "condition": "eq"
            },
            {
              "keyName": "status",
              "keyValue": "active",
              "condition": "eq"
            }
          ]
        },
        "limit": 1,
        "options": {}
      },
      "id": "resolve-owner",
      "name": "Resolve Owner (phone_numbers)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1560,
        380
      ],
      "credentials": {
        "supabaseApi": {
          "id": "hOsK6gvSyJWN6HU2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "has-owner",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      },
      "id": "owner-router",
      "name": "Owner Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1780,
        380
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "answering_rules",
          "mode": "list"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.user_id }}",
              "condition": "eq"
            },
            {
              "keyName": "is_active",
              "keyValue": "true",
              "condition": "eq"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-rules",
      "name": "Fetch Answering Rules",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2000,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "hOsK6gvSyJWN6HU2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// spec: §Condiciones — Motor de reglas (precedencia estricta)\n// blacklist > whitelist > anónimo > prefijo > horario > default answer\n\nconst rules = $input.all().map(i => i.json);\nconst callFields = $('Extract Call Fields').first().json;\nconst phoneRow = $('Resolve Owner (phone_numbers)').first().json;\n\nconst callerNumber = callFields.from; // null if anonymous\nconst calledAt = new Date(); // UTC now\n\n// Helper: convert UTC time to user timezone and extract HH:MM\nfunction localHHMM(tz) {\n  const str = calledAt.toLocaleTimeString('en-US', { hour12: false, timeZone: tz, hour: '2-digit', minute: '2-digit' });\n  const [h, m] = str.split(':').map(Number);\n  return h * 60 + m; // minutes since midnight\n}\n\n// Helper: does a time range [start HH:MM, end HH:MM] cover minutesSinceMidnight?\n// Handles ranges that cross midnight (e.g. 22:00-06:00)\nfunction inSchedule(start, end, nowMins) {\n  const [sh, sm] = start.split(':').map(Number);\n  const [eh, em] = end.split(':').map(Number);\n  const s = sh * 60 + sm;\n  const e = eh * 60 + em;\n  if (s <= e) return nowMins >= s && nowMins < e;       // normal range\n  return nowMins >= s || nowMins < e;                  // crosses midnight\n}\n\n// User timezone from phone_numbers row (fall back to El Salvador if missing)\nconst userTZ = phoneRow.user_timezone || 'America/El_Salvador';\nconst nowLocal = localHHMM(userTZ);\n\nlet decision = 'answer';\nlet rejectAction = null;\nlet matchedRule = 'default';\n\n// 1. Blacklist\nif (callerNumber) {\n  const bl = rules.find(r => r.rule_type === 'blacklist' && r.value?.number === callerNumber);\n  if (bl) { decision = 'reject'; rejectAction = 'busy'; matchedRule = bl.id; }\n}\n\n// 2. Whitelist (only if not already rejected)\nif (decision === 'answer' && callerNumber) {\n  const wl = rules.find(r => r.rule_type === 'whitelist' && r.value?.number === callerNumber);\n  if (wl) { decision = 'answer'; matchedRule = wl.id; }\n}\n\n// 3. Anonymous\nif (decision === 'answer' && !callerNumber) {\n  const anon = rules.find(r => r.rule_type === 'anonymous');\n  if (anon && anon.value?.action === 'reject') {\n    decision = 'reject'; rejectAction = 'message'; matchedRule = anon.id;\n  }\n}\n\n// 4. Prefix block\nif (decision === 'answer' && callerNumber) {\n  const pfx = rules.find(r => r.rule_type === 'prefix_block' && callerNumber.startsWith(r.value?.prefix));\n  if (pfx) { decision = 'reject'; rejectAction = 'busy'; matchedRule = pfx.id; }\n}\n\n// 5. Schedule\nif (decision === 'answer') {\n  const sched = rules.find(r => r.rule_type === 'schedule');\n  if (sched) {\n    const inside = inSchedule(sched.value.start, sched.value.end, nowLocal);\n    if (!inside) { decision = 'reject'; rejectAction = 'message'; matchedRule = sched.id; }\n  }\n}\n\n// 6. Default: answer\n\nreturn [{\n  json: {\n    decision,\n    rejectAction,\n    matchedRule,\n    userId: phoneRow.user_id,\n    phoneNumberId: phoneRow.id,\n    callSid: callFields.callSid,\n    callerNumber,\n    to: callFields.to\n  }\n}];"
      },
      "id": "evaluate-rules",
      "name": "Evaluate Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "calls",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ $json.userId }}",
            "phone_number_id": "={{ $json.phoneNumberId }}",
            "twilio_call_sid": "={{ $json.callSid }}",
            "caller_number": "={{ $json.callerNumber }}",
            "decision": "={{ $json.decision }}",
            "matched_rule": "={{ $json.matchedRule }}",
            "outcome": "={{ $json.decision === 'answer' ? 'in_progress' : 'rejected' }}",
            "started_at": "={{ new Date().toISOString() }}"
          }
        }
      },
      "id": "insert-call",
      "name": "Insert Call Record",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2440,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "hOsK6gvSyJWN6HU2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// spec: §Respuesta exitosa — build TwiML based on decision\nconst { decision, rejectAction } = $('Evaluate Rules').first().json;\nconst agentUrl = process.env.ELEVENLABS_AGENT_WSS_URL || 'wss://placeholder.elevenlabs.io';\n\nlet twiml;\nif (decision === 'answer') {\n  twiml = `<Response><Connect><Stream url=\"${agentUrl}\"/></Connect></Response>`;\n} else {\n  if (rejectAction === 'busy') {\n    twiml = '<Response><Reject reason=\"busy\"/></Response>';\n  } else if (rejectAction === 'hangup') {\n    twiml = '<Response><Hangup/></Response>';\n  } else {\n    twiml = '<Response><Say language=\"es-MX\">Este número no está disponible en este momento.</Say><Hangup/></Response>';\n  }\n}\nreturn [{ json: { twiml } }];"
      },
      "id": "build-twiml",
      "name": "Build TwiML Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.twiml }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "id": "respond-twiml",
      "name": "Respond TwiML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2880,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// spec: §Errores — número To no pertenece a ningún usuario activo\n// Respond 200 with Reject (Twilio needs valid TwiML even on error)\nreturn [{ json: { twiml: '<Response><Reject reason=\"busy\"/></Response>', orphan: true } }];"
      },
      "id": "orphan-number",
      "name": "Orphan Number TwiML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        500
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "system_events",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "event_type": "orphan_webhook",
            "payload": "={{ JSON.stringify({ to: $('Extract Call Fields').first().json.to, callSid: $('Extract Call Fields').first().json.callSid }) }}"
          }
        }
      },
      "id": "insert-orphan-event",
      "name": "Insert orphan_webhook event",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2220,
        500
      ],
      "credentials": {
        "supabaseApi": {
          "id": "hOsK6gvSyJWN6HU2",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Orphan Number TwiML').first().json.twiml }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "id": "respond-orphan",
      "name": "Respond Orphan TwiML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2440,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Build Idempotent TwiML').first().json.twiml }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/xml"
              }
            ]
          }
        }
      },
      "id": "respond-idempotent",
      "name": "Respond Idempotent TwiML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1780,
        200
      ]
    }
  ],
  "connections": {
    "Webhook — Twilio Incoming Call": {
      "main": [
        [
          {
            "node": "Validate Twilio Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Twilio Signature": {
      "main": [
        [
          {
            "node": "Signature Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Signature Valid?": {
      "main": [
        [
          {
            "node": "Extract Call Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert security_alert event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert security_alert event": {
      "main": [
        [
          {
            "node": "Respond 403",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Call Fields": {
      "main": [
        [
          {
            "node": "Check Idempotency (calls by callSid)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Idempotency (calls by callSid)": {
      "main": [
        [
          {
            "node": "Already processed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already processed?": {
      "main": [
        [
          {
            "node": "Build Idempotent TwiML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resolve Owner (phone_numbers)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Idempotent TwiML": {
      "main": [
        [
          {
            "node": "Respond Idempotent TwiML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Owner (phone_numbers)": {
      "main": [
        [
          {
            "node": "Owner Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Owner Found?": {
      "main": [
        [
          {
            "node": "Fetch Answering Rules",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Orphan Number TwiML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Answering Rules": {
      "main": [
        [
          {
            "node": "Evaluate Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Rules": {
      "main": [
        [
          {
            "node": "Insert Call Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Call Record": {
      "main": [
        [
          {
            "node": "Build TwiML Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build TwiML Response": {
      "main": [
        [
          {
            "node": "Respond TwiML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orphan Number TwiML": {
      "main": [
        [
          {
            "node": "Insert orphan_webhook event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert orphan_webhook event": {
      "main": [
        [
          {
            "node": "Respond Orphan TwiML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "versionId": "5724b67a-4d25-4891-9b0d-c971b1ba0ec0",
  "activeVersionId": null,
  "versionCounter": 2,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "shared": [
    {
      "updatedAt": "2026-07-05T01:47:17.286Z",
      "createdAt": "2026-07-05T01:47:17.286Z",
      "role": "workflow:owner",
      "workflowId": "EVuxizOW0p0dGqeZ",
      "projectId": "NJm3zAcNWwRr1wuT",
      "project": {
        "updatedAt": "2026-07-04T18:36:16.473Z",
        "createdAt": "2026-07-04T18:36:07.122Z",
        "id": "NJm3zAcNWwRr1wuT",
        "name": "Angel Antonio Bran <angelbranm@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "17e1546c-7e55-490d-b06b-7aa72655308f"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
